<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title>Содержимое ячейки расписания</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <div id="scheduleInfo">
        <h4 th:text="${schedule.getId()}"></h4>
        <p th:if="${schedule.getTc_id() != null}" th:text="'Название курса: ' + ${schedule.getTc_id.getCourse().getName()}"></p>
        <p th:if="${schedule.getTc_id() != null}" th:text="'Имя преподавателя: ' + ${schedule.getTc_id.getTeacher().getName()}"></p>
        <p th:if="${schedule.getTime() != null}" th:text="'Время: ' + ${schedule.getTime()}"></p>
        <p th:if="${schedule.getWeekday() != null}" th:text="'День недели: ' + ${schedule.getWeekday()}"></p>
        <p th:if="${schedule.getSh_group() != null}" th:text="'Группа: ' + ${schedule.getSh_group()}"></p>
        <p th:if="${schedule.getAuditorium_id() != null}" th:text="'Аудитория: ' + ${schedule.getAuditorium_id().getName()}"></p>
        <p th:if="${schedule.getYear() != null}" th:text="'Курс: ' + ${schedule.getYear()}"></p>
    </div>

    <!--edit delete order button group-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form style="margin-right: 30px" method="get" action="/editSchedule">
                <input type="hidden" name="scheduleId" th:value="${schedule.getId()}"/>
                <button id="editButton" type="submit" class="btn btn-secondary">Редактировать содержимое ячейки расписания</button>
            </form>
            <!--            <form method="post" action="/removeSchedule">-->
            <!--                <input type="hidden" name="scheduleId" th:value="${schedule.getId()}"/>-->
            <!--                <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить преподавателя из базы</button>-->
            <!--            </form>-->
        </div>
    </div>
    <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>